@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    background: beige;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin: 20px;
}

#display{
    font-size: 50px;
    margin-bottom: 25px;
}